<div class="table-responsive">
  <table class="table table-hover mb-0">
    <thead>
    <tr>
      <th>STT</th>
      <th>Link</th>
      <th>Tên nhóm</th>
      <th>Thời gian đăng thành công</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of data; index as i;">
      <td>{{i + 1}}</td>
      <td>
        <a [href]="fbDomain + '/' + item.post_fbid" target="_blank">{{fbDomain + '/' + item.post_fbid}}</a>
      </td>
      <td>{{item.group[0] ? item.group[0].name : '--'}}</td>
      <td>{{item.action_time | getDateTimeString}}</td>
    </tr>
    </tbody>
  </table>

  <div class="col-12 no-data" *ngIf="data && data.length == 0">
    {{noDataMessage}}
  </div>
</div>
<cpd-loading-overlay *ngIf="isLoading"></cpd-loading-overlay>
