<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-flex align-items-center justify-content-center flex-column border-right">
              <i class="fas fa-sms fa-10x text-primary"></i>
              <p>Version 1.0</p>
            </div>
            <div class="col-lg-6">
              <div class="p-5">
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
