<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-flex mb-3 justify-content-between">
    <h1 class="h3 text-gray-800">Quản lý bài viết</h1>
    <button class="btn btn-success" (click)="openForm()">Thêm mới</button>
  </div>

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Bộ lọc</h6>
    </div>
    <div class="card-body">
      <div class="row" [formGroup]="formSearch">
        <div class="col-md-3">
          <label>Tiêu đề</label>
          <input type="text" class="form-control" formControlName="title">
        </div>

        <div class="col-md-3">
          <label>Ngành nghề</label>
          <ng-select [items]="lstCareer" bindLabel="name"
                     bindValue="_id"
                     placeholder="-- Chọn ngành nghề --" formControlName="career_id">
          </ng-select>
        </div>

        <div class="col-md-3">
          <label>&nbsp;</label>
          <div>
            <button class="btn btn-primary" (click)="onSearch()"><i class="fas fa-search cursor-pointer"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Danh sách</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover mb-3">
          <thead>
          <tr>
            <th>STT</th>
            <th>Tiêu đề</th>
            <th>Ngành nghề</th>
            <th>Thời gian tạo</th>
            <th>Nhóm đăng thành công</th>
            <th>Nhóm chờ duyệt</th>
            <th>Nhóm chưa đăng</th>
            <th>Hành động</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of data; index as i;">
            <td class="cursor-pointer" (click)="viewStatus(item._id)">{{i + 1}}</td>
            <td class="cursor-pointer" (click)="viewStatus(item._id)">{{item.title ? item.title : '--'}}</td>
            <td class="cursor-pointer" (click)="viewStatus(item._id)">{{item.career ? item.career[0].name : '--'}}</td>
            <td class="cursor-pointer" (click)="viewStatus(item._id)">{{item.created | getDateTimeString}}</td>
            <td class="cursor-pointer" (click)="viewStatus(item._id)">{{item.group_success ? item.group_success : '--'}}</td>
            <td class="cursor-pointer" (click)="viewStatus(item._id)">{{item.group_waiting ? item.group_waiting : '--'}}</td>
            <td class="cursor-pointer" (click)="viewStatus(item._id)">{{item.group_pending ? item.group_pending : '--'}}</td>
            <td>
              <i class="fas fa-eye cursor-pointer mr-2" (click)="viewStatus(item._id)"></i>
              <i *ngIf="canEdit(item.send_at)" class="fas fa-edit cursor-pointer mr-2" (click)="openForm(item._id)"></i>
              <i class="fas fa-trash-alt text-danger cursor-pointer" (click)="onDelete(item._id)"></i>
            </td>
          </tr>
          </tbody>
        </table>

        <div class="col-12 no-data" *ngIf="pagination && pagination.total == 0">
          {{noDataMessage}}
        </div>
        <cpd-pagination *ngIf="pagination && pagination.total > 0" [props]="pagination" (onChangePage)="changePage($event)"></cpd-pagination>
      </div>
    </div>

    <cpd-loading-overlay *ngIf="isLoading"></cpd-loading-overlay>
  </div>

</div>

<swal
  #modalConfirm
  (confirm)="confirm()"
  title="Xác nhận xóa bài viết"
  type="question"
  [confirmButtonText]="'Có'"
  [cancelButtonText]="'Không'"
  [showCancelButton]="true"
  [allowOutsideClick]="false">
</swal>
