.inbox-avatar {
  width: 30px;
  height: auto;
}

.inbox-message {
  margin-bottom: 4px;
}

.current-user {
  justify-content: flex-end;
}

.current-user-message {
  background-color: #dbf4fd;
  padding: 0.5rem;
  border-radius: 5px;
}
