<div>
  <div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">Quên mật khẩu</h1>
  </div>
  <form class="user" [formGroup]="form">
    <div class="form-group">
      <ft-input [type]="'text'" [formGroup]="form" [controlName]="'email'" [holderText]="'Email...'"></ft-input>
    </div>
    <button type="button" (click)="onSubmit()" [disabled]="isLoading || form.invalid" class="btn btn-primary btn-user btn-block">
      Gửi đi
    </button>
  </form>
</div>
<cpd-loading-overlay *ngIf="isLoading"></cpd-loading-overlay>

