<div>
  <div class="modal-header">
    <h4 class="modal-title modal__title_20">{{id ? 'Sửa ngành nghề' : 'Thêm mới ngành nghề'}}</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="onClose()">&times;</button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            <label>Tên ngành nghề <span class="text-danger">*</span></label>
          </div>
          <div class="col-md-9">
            <ft-input [type]="'text'" [formGroup]="form" [controlName]="'name'"></ft-input>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="col-md-9 offset-md-3 d-flex">
      <button type="button" class="btn btn-secondary mr-2" (click)="onClose()">Hủy</button>
      <button type="button" class="btn btn-primary" (click)="onSubmit()">Lưu</button>
    </div>
  </div>
</div>
<cpd-loading-overlay *ngIf="isLoading"></cpd-loading-overlay>
